---
# Flux GitRepository + Kustomization template
# Rendered by Ansible for cluster-specific config
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: {{ flux_git_source_name }}
  namespace: {{ flx_namespace }}
spec:
  interval: 1m
  url: {{ flux_git_url }}
  ref:
    branch: {{ flux_git_branch }}
  secretRef:
    name: {{ flux_git_secret_name }}
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: migration-releases
  namespace: {{ flx_namespace }}
spec:
  interval: 1m
  path: {{ flux_git_path }}
  prune: false
  force: false
  wait: true
  timeout: 10m
  sourceRef:
    kind: GitRepository
    name: {{ flux_git_source_name }}
